#login-form-wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#login-form{
  width: 30vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
