<mat-toolbar>
  <span>My Application</span>
  <span id="header-spacer"></span>
  <button mat-icon-button class="example-icon" [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>

<mat-menu #menu>
  <button mat-menu-item>
    <mat-icon>dialpad</mat-icon>
    <span>Redial</span>
  </button>
  <button mat-menu-item disabled>
    <mat-icon>voicemail</mat-icon>
    <span>Check voice mail</span>
  </button>
  <button mat-menu-item>
    <mat-icon>notifications_off</mat-icon>
    <span>Disable alerts</span>
  </button>
</mat-menu>
