:host {
  height: 210px;
  position: relative;

  drag-scroll {
    height: 210px;
    width: 100%;
    cursor: pointer;

    img {
      height: 200px;
      margin: 5px;
      border-radius: 5px;

      transition: opacity 0.2s;
    }

    img:hover {
      opacity: 0.8;
      transition: opacity 0.2s;
    }
  }

  .move-left-btn, .move-right-btn {
    position: absolute;
    top: 45%
  }

  .move-left-btn {
    left: 10px;
  }

  .move-right-btn {
    right: 10px;
  }
}
