<drag-scroll #carousel
             [scrollbar-hidden]="true"
             [drag-scroll-y-disabled]="true"
             (dragEnd)="drugEnd()"
             (dragStart)="drugStart()">
  <img drag-scroll-item *ngFor="let film of films" [src]="film.preview" (click)="click(film)">
</drag-scroll>

<button class="circle-btn move-left-btn"
        (click)="moveLeft()"
        [disabled]="moveLeftDisabled ? null : true">
  <img src="assets/arrow.svg"
       width="25px"
       height="25px"
       class="arrow-left">
</button>
<button class="circle-btn move-right-btn"
        id="next-film"
        (click)="moveRight()"
        [disabled]="moveRightDisabled ? null : true">
  <img src="assets/arrow.svg"
       width="25px"
       height="25px"
       class="arrow-right">
</button>
