app-root{
  display: flex;
  justify-content: space-between;
  justify-items: stretch;
  align-items: stretch;
  flex-direction: column;

  position: fixed;
  top:0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
