<div class="preview-wrapper">
  <div id="loader" *ngIf="isLodaing">
    <mat-spinner></mat-spinner>
  </div>
  <div *ngIf="films && films.length > 0" class="selected-film-wrapepr"
       [style.background-image]="'url(' + this.films[this.currentFilmNum].preview + ')'">
    <div class="selected-film-wrapepr-gradient"></div>
      <button mat-icon-button
              id="prev-film"
              [disabled]="prevFilmAvailable ? null : true"
              (click)="prevFilm()">
        <mat-icon>
          keyboard_arrow_left
        </mat-icon>
      </button>
      <button mat-icon-button
              id="next-film"
              [disabled]="nextFilmAvailable ? null : true"
              (click)="nextFilm()">
        <mat-icon>
          keyboard_arrow_right
        </mat-icon>
      </button>
      <div id="down-panel">
        <button mat-stroked-button
                id="film-title"
                (click)="selectFilm(films[currentFilmNum].id)">
          {{films[currentFilmNum].title}}
        </button>
        <film-likes-panel [film]="films[currentFilmNum]"></film-likes-panel>
      </div>
  </div>
</div>
