#modal-window {
  display: flex;
  flex-direction: column;
  height: 100%;

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    h1{
      margin: 0;
    }
  }

  .mat-dialog-content {
    height: 100%;
  }
}

#crossmark-button {
  align-self: flex-end;
}
