<div class="page-wrapper">
  <div id="loader" *ngIf="isLoading">
    <mat-spinner></mat-spinner>
  </div>

  <div class="page-content" *ngIf="!isLoading" id="main-page">
    <header>Здесь вы можете подобрать фильм для себя несколькими способами</header>
    <div class="film-selection">
      <label>
        Способ №1: Вам выдается совершенно случайный фильм из базы данных.
      </label>
      <drag-scroll [scrollbar-hidden]="true" [drag-scroll-y-disabled]="true">
        <img drag-scroll-item *ngFor="let film of randomFilms" [src]="film.preview" (click)="filmCardClick(film.title)">
      </drag-scroll>
    </div>
    <mat-divider></mat-divider>
    <div class="film-selection">
      <label>
        Способ №2: Вам выдается фильм в соответствие с вашими предпочтениями. Необходимо
        зарегестрироваться/войти
        для данного способа.
      </label>
      <drag-scroll *ngIf="sameUsersFilms" [scrollbar-hidden]="true" [drag-scroll-y-disabled]="true">
        <img *ngFor="let film of sameUsersFilms" [src]="film.preview" (click)="filmCardClick(film.title)">
      </drag-scroll>
    </div>
  </div>
</div>
