<div class="page-wrapper">
  <div id="loader" *ngIf="isLoading">
    <mat-spinner></mat-spinner>
  </div>

  <div class="page-content" *ngIf="!isLoading" id="main-page">
    <header>Здесь вы можете подобрать фильм для себя несколькими способами</header>
    <div class="film-selection">
      <label>
        Способ №1: Вам выдается совершенно случайный фильм из базы данных.
      </label>
      <carousel [cellsToShow]="3" [height]="200" [cellWidth]="200">
        <div class="carousel-cell" *ngFor="let film of randomFilms">
          <img [src]="film.preview">
        </div>
      </carousel>
    </div>
    <mat-divider></mat-divider>
    <div class="film-selection">
      <label>
        Способ №2: Вам выдается фильм в соответствие с вашими предпочтениями. Необходимо
        зарегестрироваться/войти
        для данного способа.
      </label>
      <carousel *ngIf="sameUsersFilms">
        <img *ngFor="let film of sameUsersFilms" [src]="film.preview">
      </carousel>
    </div>
  </div>
</div>
