@import 'color-styles.scss';

$header-height: 80px;
$footer-height: 60px;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.page-wrapper,
.header-wrapper,
.footer-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
}

.header-wrapper {
  height: 100%;
  width: 100%;
}

.page-wrapper {
  min-height: calc(100vh - #{$header-height + $footer-height});
}

.page-content,
.header-content,
.footer-content {
  display: flex;
  height: 100%;
}

.page-content,
.header-content {
  justify-self: center;
  align-self: center;
}

.page-content {
  height: 100%;
}

.footer-content {
  justify-content: flex-end;
  align-items: flex-end;
}

#main-header {
  height: $header-height;
}

#main-footer {
  height: $footer-height;
}

// media
@media screen and (max-width: 768px){
  .page-content,
  .header-content,
  .footer-content {
    width: 100%;
  }
}

@media screen and (min-width: 769px) and (max-width: 1080px){
  .page-content,
  .header-content,
  .footer-content {
    width: 768px;
  }
}

@media screen and (min-width: 1081px){
  .page-content,
  .header-content,
  .footer-content {
    width: 1080px;
  }
}

//shared controls
.btn {
  border-radius: 5px;
  border-style: none;

  height: 40px;
  width: 200px;
  font-size: 16px;
}

.header-btn {
  height: 100%;
  width: 100px;
  font-size: 18px;

  text-decoration: none;
}

.circle-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 60px;
  height: 60px;
  border-radius: 50%;
  border-width: 0;

  outline: 0;
  cursor: pointer;
}

.circle-btn:disabled {
  cursor: default;
}

.arrow-right {}

.arrow-left {
  transform: rotate(180deg);
}
